body {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  /* height: 600px; */
  background-color: white;
  overflow-y: scroll;
  /* height: fit-content; */
  /* height: 900px; */
  width: 100%;
}


header {
  background-color: white;
  display: flex;
  padding: 15px;
}

.profile {
  margin: 0px 26px 0px -64px;
}

.initial {
  margin: 0px 26px 0px 0px;
}


#fuentes-header {
  display: flex;
  margin: 0px 0px 0px 930px;
  flex-direction: row;
  flex-wrap: wrap
}

.fuente1 {
  display: flex;
}

header h1 {
  /* color: aquamarine; */
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#navbar {
  background-color: white;
  display: flex;
  width: 240px;
  height: 602px;
  float: left;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 70px;
}

#navbar h2 {
  /* color: darkmagenta; */
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}


main {
  /* background-color: black; */
  width: 100%;
  height: 900px;
  margin-top: 0px;
  margin-left: 20px;

}

#mainpage {
  /* display: flex; */
  overflow:scroll;
  /* margin-top: 1px;
    margin-left: 1px; */
  /* background-color: grey; */
  margin: -366px 0px 0px 260px;
  height: 602px;
}

#mainpage h3 {
  /* color: coral; */
  color: black;
}





.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.logos {
  height: 900px;
  width: 900px;
}

/* REPRODUCTOR DE MUSICA */

#music-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

#audio-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#cover {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: 20px;
}

#details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#artist {
  font-size: 14px;
  color: #333;
}

#audio-element {
  width: 100%;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-play,
.fa-pause {
  font-size: 40px;
  color: #333;
  cursor: pointer;
  margin: 0 10px;
}

.hidden {
  display: none;
}

/* REPRODUCTOR DE VIDEO */

#videoPlayer {
  width: 500px;
  height: 300px;
  background-color: black;
  margin: 20px auto;
}

#fileInput {
  display: none;
}
#uploadButton {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.pie{
 margin: 25px 1px 1px 25px;
}

.scalable {
  transform-origin: top left;
  transition: transform 0.2s ease-in-out;
}

#container-footer{
margin: -160px 0px 0px 0px;
}